include *.txt
include COPYING
include COPYING.LESSER
include README
include CHANGES
include INSTALL
include Makefile
include Makefile.cygwin
include Makefile.win
include winsh.bat
include setup-macosx.py
include setup-windows.py
recursive-include examples *.*
recursive-include examples README*
recursive-include src *.cpp *.h Makefile*
include doc/summon_manual.pdf
recursive-include doc/html *.*
include bin/summon
include bin/summatrix
include bin/sumtree
include bin/python-i
prune src/notes
